<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="assets/img/cd_dvd.png" alt="DVDTHEQUE" width="45" /></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Liste des Films --</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/filmAdd/">Ajout d'un film</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/filmExport/">Exporter</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/filmImport/">Importer</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/filmAdmin/">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
</header>