<div class="container text-center">
  <br/>
<div *ngIf="filteredFilms">
<app-film-search (filterChange)="filterOnTitre($event)" (realChange)="filterOnRealisateur($event)" (anneeChange)="filterOnAnnee($event)" (acteurChange)="filterOnActeur($event)" (rippedChange)="filterOnRipped($event)"></app-film-search>
</div>

<div class="row">
    <div class="col-md-12">
<h3>Liste des Films </h3>
<div *ngIf="!filteredFilms">
    <div class="col-lg-8 offset-lg-2">
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
        <div class="spinner-grow text-muted" *ngIf="loading"></div>
    </div>
</div>
<div *ngIf="filteredFilms">Nombre de films : {{filteredFilms.length}}
<br/>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Film</th>
    <!--
    <th>Titre</th>
    <th>Titre Original</th>
    <th>Réalisateurs</th>
    <th>Acteur</th>
    <th>Année</th>
    -->
    <th>Rippé</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of filteredFilms">
      <td>
          <a routerLink="/filmDetail/{{film.id}}">
            <img src="{{film.posterPath}}" alt="" width="300"/>
          </a>
      </td>
      <!--
      <td>
          <a routerLink="/filmDetail/{{film.id}}">
            {{film.titre | uppercase}}
          </a>
      </td>
      <td>
          <a routerLink="/filmDetail/{{film.id}}">
            {{film.titreO | uppercase}}
          </a>
      </td>
      <td>
            <div *ngFor="let realisateur of film.realisateurs">
                {{realisateur.nom | uppercase}}
            </div>
        
      </td>
      <td>
          <div *ngFor="let acteur of film.acteurs">
              {{acteur.nom | uppercase}}
          </div>
      </td>
      <td>
        {{film.annee}}
      </td>
    -->
      <td>
          <div *ngIf="film.ripped">
            <img src="assets/img/ok.png">
          </div>
          <div *ngIf="!film.ripped">
            <img src="assets/img/ko.png">
          </div>
      </td>
    </tr>
  </tbody>
</table>
</div>

</div>
</div>

</div>