<div class="container text-center">
  <br />
  <div *ngIf="filteredFilms">
    <app-film-search (filterChange)="filterOnTitre($event)" (realChange)="filterOnRealisateur($event)"
      (anneeChange)="filterOnAnnee($event)" (acteurChange)="filterOnActeur($event)"
      (rippedChange)="filterOnRipped($event)"></app-film-search>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="resetFilter()">Effecer les filtres</button>
    </div>
    <div class="col-md-12">
      <h3>Liste des Films </h3>
      <div *ngIf="!filteredFilms">
        <div class="col-lg-8 offset-lg-2">
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
        </div>
      </div>
      <div *ngIf="filteredFilms">Nombre de films : {{filteredFilms.length}}
        <br />
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><a routerLink="" (click)="sort('titre')">Film</a></th>
              <th>Rippé</th>
              <th><a routerLink="" (click)="sort('daterip')">Date RIP</a></th>
              <th><a routerLink="" (click)="sort('dvdformat')">Format</a></th>
              <th><a routerLink="" (click)="sort('duree')">Durée (min)</a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let film of filteredFilms">
              <td>
                <a routerLink="/filmDetail/{{film.id}}">
                  <img src="{{film.posterPath}}" alt="" width="300" />
                </a>
              </td>
              <td>
                <div *ngIf="film.ripped">
                  <img src="assets/img/ok.png">
                </div>
                <div *ngIf="!film.ripped">
                  <img src="assets/img/ko.png">
                </div>
              </td>
              <td>
                <div *ngIf="film.dvd.dateRip">
                  {{film.dvd.dateRip | date:'dd/MM/yy'}}
                </div>
              </td>
              <td>
                {{film.dvd.format}}
              </td>
              <td>
                {{film.runtime}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>