<div class="container-fluid text-center">
<div class="container-fluid">
  <br/>
<h3>Liste des Films </h3>
<div *ngIf="!films">LOADING ....</div>
<div *ngIf="films">Nombre de films : {{films.length}}
<br/>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Poster</th>
    <th>Titre</th>
    <th>Réalisateur</th>
    <th>Acteur</th>
    <th>Année</th>
    <th>Rippé</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>
            <img src="{{film.posterPath}}" alt="" width="300"/>
      </td>
      <td>
          <a routerLink="/filmDetail/{{film.id}}">
            {{film.titre | uppercase}}
          </a>
      </td>
      <td>
        {{film.realisateur.prenom | uppercase}} {{film.realisateur.nom | uppercase}}
      </td>
      <td>
          <div *ngFor="let acteur of film.acteurs">
              {{acteur.prenom | uppercase}} {{acteur.nom | uppercase}}
          </div>  
      </td>
      <td>
        {{film.annee}}
      </td>
      <td>
          <div *ngIf="film.ripped">
            <img src="assets/img/ok.png">
          </div>
          <div *ngIf="!film.ripped">
            <img src="assets/img/ko.png">
          </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>