<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-4">
      <form (ngSubmit)="importFilmList()" #form="ngForm">
        <input type="file" ng-model="file_upload" name="file" type="file" (change)="loadFile($event)" #fileInput>&nbsp;
        <button class="btn btn-primary" [disabled]="buttonDisabled" type="submit">Importer au
          format
          Csv</button>
      </form>
    </div>
    <div class="col-lg-8 offset-lg-4">
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
      <div class="spinner-grow text-muted" *ngIf="loading"></div>
    </div>

    <div class="col-lg-8 offset-lg-4" *ngIf="loadingStatus">
      <p>Status of import</p>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of messageHistory">
            <td>
              {{message.film.titre}} - {{message.JmsStatus}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>