<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-4">
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div class="spinner-grow text-muted" *ngIf="loadingAllActeurs && loadingAllRealisateurs"></div>
      <div *ngIf="loadingAllActeurs && loadingAllRealisateurs">chargement des acteurs et des réalisateurs</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="displayType">Type d'affichage</label>
        <select class="form-control" [(ngModel)]="displayType" (ngModelChange)="filterOnDisplayType($event)">
          <option *ngFor="let displayType of displayTypes" [ngValue]="displayType"
            [selected]="filmSearch.displayType === displayType">
            {{displayType}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="origine">Origine</label>
        <select class="form-control" [(ngModel)]="origine" (ngModelChange)="filterOnOrigine($event)">
          <option *ngFor="let origine of origines" [ngValue]="origine" [selected]="filmSearch.origine === origine">
            {{origine}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="titre">Titre</label>
        <input [(ngModel)]="filmSearch.titre" placeholder="titre" class="form-control" (keyup)="findTitre($event)" />
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="realisateur">Réalisateur : {{realisateursLength}}</label>
        <select class="form-control" [(ngModel)]="filmSearch.realisateur" (ngModelChange)="filterOnRealisateur($event)"
          allowClear="true">
          <option *ngFor="let real of realisateurs" [ngValue]="real.id">{{real.prenom | uppercase}}
            {{real.nom | uppercase}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="acteur">Acteur : {{acteursLength}}</label>
        <select class="form-control" [(ngModel)]="filmSearch.acteur" (ngModelChange)="filterOnActeur($event)"
          allowClear="true">
          <option *ngFor="let acteur of acteurs" [ngValue]="acteur">{{acteur.prenom | uppercase}}
            {{acteur.nom | uppercase}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="annee">Année</label>
        <select class="form-control" [(ngModel)]="filmSearch.annee" (ngModelChange)="filterOnAnnee($event)"
          allowClear="true">
          <option *ngFor="let annee of annees" [ngValue]="annee">{{annee}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="genre">Categorie</label>
        <select class="form-control" [(ngModel)]="filmSearch.genre" (ngModelChange)="filterOnGenre($event)"
          allowClear="true">
          <option *ngFor="let genre of genres" [ngValue]="genre.name">{{genre.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="vu">Vu</label>
        <select class="form-control" name="vu" [(ngModel)]="filmSearch.vu" (ngModelChange)="filterOnVu($event)"
          allowClear="true">
          <option key='tous' value='tous'>Tous</option>
          <option key='vu' value='vu'>Vu</option>
          <option key='nonvu' value='nonvu'>Non Vu</option>
        </select>
      </div>
    </div>
    <div class="col-lg-1" *ngIf="origine=='DVD'">
      <div class="form-group #{!name.valid ? 'has-error' : 'none'}">
        <label htmlFor="ripped">DVD Rippé</label>
        <select class="form-control" name="ripped" [(ngModel)]="filmSearch.ripped"
          (ngModelChange)="filterOnRipped($event)" allowClear="true">
          <option key='tous' value='tous'>Tous</option>
          <option key='ripped' value='ripped'>Rippé</option>
          <option key='nonripped' value='nonripped'>Non Rippé</option>
        </select>
      </div>
    </div>
  </div>
</div>