
<span>&nbsp;</span>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="form-group">
                <label htmlFor="titre">Titre</label>
                <input [(ngModel)]="film.titre" placeholder="titre" class="form-control"/>
            </div>
            <!--
            <div class="form-group">
                <label htmlFor="annee">Année de sortie : </label>
                <select class="form-control" [(ngModel)]="film.annee">
                    <option *ngFor="let annee of annees" [selected]="annee === film.annee" [ngValue]="annee" >{{annee}}</option>
                </select>
            </div>
            -->
        </div>
        <div class="col-lg-8 offset-lg-4">
            <button type="button" class="btn btn-primary" (click)="serachTmdbFilm()">Chercher les films à remplacer</button>
        </div>
        
        <div *ngIf="tmdbFilms">Nombre de films : {{tmdbFilms.length}}
            <br/>
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Poster</th>
                <th>Titre</th>
                <th>Réalisateur</th>
                <th>Acteur</th>
                <th>Année</th>
                <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let film of tmdbFilms">
                  <td>
                        <img src="{{film.posterPath}}" alt="" width="200"/>
                  </td>
                  <td>
                      {{film.titre | uppercase}}
                  </td>
                  
                  <td>
                      <div *ngFor="let realisateur of film.realisateurs">
                          {{realisateur.nom | uppercase}}
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let acteur of film.acteurs">
                          {{acteur.nom | uppercase}}
                      </div>
                  </td>
                  <td>
                    {{film.annee}}
                  </td>
                  <td>
                      <div *ngIf="!film.alreadyInDvdtheque">
                          <button type="button" class="btn btn-primary" (click)="replaceFilm(film.id)">Remplacer</button>
                      </div>
                      <div *ngIf="film.alreadyInDvdtheque">
                          déjà enregistré
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
    </div>
</div>