<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 offset-md-5">
            <h2>Modification d'un Film</h2>
            <div *ngIf="!film || loading">
                <div *ngIf="!filteredFilms">
                    <div class="col-lg-6">
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="film && !loading">
        <div class="row">
            <div class="column poster">
                <img src="{{film.posterPath}}" alt="" width="100%" />
            </div>
            <div class="column details">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2"><label>Titre : </label></div>
                        <div class="col-sm-10"><b>{{film.titre | uppercase}}</b></div>

                        <div class="col-sm-2"><label>Titre Original : </label></div>
                        <div class="col-sm-10"><b>{{film.titreO | uppercase}}</b></div>

                        <div class="col-sm-2"><label>Date de sortie : </label></div>
                        <div class="col-sm-10"><b>{{film.dateSortie | date: 'dd/MM/yyyy'}}</b></div>

                        <div class="col-sm-2"><label>Réalisateur : </label></div>
                        <div class="col-sm-10">
                            <b>{{film.realisateurs | realisateurs}} &nbsp;</b>
                        </div>
                        <div class="col-sm-2"><label>Genres : </label></div>
                        <div class="col-sm-10">
                            <b>{{film.genres | genres}} &nbsp;</b>
                        </div>
                        <div class="col-sm-2"><label>Durée : </label></div>
                        <div class="col-sm-10"><b>{{film.runtime}} minutes</b></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12"><label>Acteurs</label></div>
                        <div class="col-sm-2" *ngFor="let act of film.acteurs">
                            <div class="col-sm-2">
                                <b>{{act.prenom | uppercase}} {{act.nom | uppercase}}</b>
                            </div>
                            <div class="col-sm-1">
                                <img src="{{act.profilePath}}" width="100" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12"><label>Résumé</label></div>
                        <div class="col-sm-12"><b>{{film.overview}}</b></div>
                    </div>
                </div>
                &nbsp;
                <div class="container-fluid" *ngIf="film.homepage">
                    <div class="row">
                        <div class="col-sm-2"><label>Home Page : </label></div>
                        <div class="col-sm-10">
                            <a href="{{film.homepage}}">{{film.homepage}}</a>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2"><label>TMDB ID : </label></div>
                        <div class="col-sm-10"><b>{{film.tmdbId}}</b></div>
                    </div>
                </div>
                &nbsp;
                <div class="container-fluid" *ngIf="film.dvd">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label htmlFor="zone_dvd">Zone DVD</label>
                                <select class="form-control" [(ngModel)]="film.dvd.zone">
                                    <option *ngFor="let zone of zonesList" [selected]="zone === film.dvd.zone"
                                        [ngValue]="zone">
                                        {{zone}}</option>
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label htmlFor="annee">Année DVD</label>
                                <select class="form-control" [(ngModel)]="film.dvd.annee">
                                    <option *ngFor="let anneeDvd of annees" [selected]="anneeDvd === film.dvd.annee"
                                        [ngValue]="anneeDvd">{{anneeDvd}}</option>
                                </select>
                            </div>
                        </div>
                        -->
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label htmlFor="annee">Format DVD</label>
                                <select class="form-control" [(ngModel)]="film.dvd.format">
                                    <option *ngFor="let dvdFormat of dvdFormats"
                                        [selected]="dvdFormat === film.dvd.format" [ngValue]="dvdFormat">{{dvdFormat}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" *ngIf="film.origine != 'TV'">
                    <div class="row">
                        <div class="col-sm-2"><label>Date de sortie en DVD : </label></div>
                        <div class="col-sm-2" *ngIf="film.dvd && film.dvd.dateSortie">
                            <b>{{film.dvd.dateSortie | date: 'dd/MM/yyyy'}}</b>
                        </div>
                        <div class="col-sm-5">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd-mm-yyyy" name="dp"
                                            [(ngModel)]="dateSortie" ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="container-fluid" *ngIf="film.origine === 'DVD'">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label><input type="checkbox" [(checked)]="film.dvd.ripped"
                                        (change)="setRippedSelected($event.target,film)" /> Ripped</label>

                            </div>
                        </div>
                        <div class="col-sm-2" *ngIf="film.dvd.dateRip && film.dvd.ripped">
                            <div class="form-group">
                                <label>Rippé le : </label>
                                <b> {{film.dvd.dateRip | date: 'dd/MM/yyyy'}}</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label><input type="checkbox" [(checked)]="film.vu"
                                        (change)="setVuSelected($event.target,film)" /> Vu</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2"><label>Date d'ajout : </label></div>
                        <div class="col-sm-2">
                            <b>{{film.dateInsertion | date: 'dd/MM/yyyy'}}</b>
                        </div>
                        <div class="col-sm-5">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="dd-mm-yyyy" name="dp"
                                            [(ngModel)]="dateInsertion" ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="container-fluid">
                    <div class="row">
                        <div *ngIf="updated" class="col-lg-12">
                            <p><b>Film modifié</b></p>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" (click)="updateFilm()">Sauver les
                                modifications</button>
                        </div>
                        <div class="col-sm-3" *ngIf="film.origine=='EN_SALLE'">
                            <button type="button" class="btn btn-primary"
                                (click)="transformFilmEnSalleIntoDvd()">Transformer en DVD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-film-tmdb-search [film]="film" (replacedFilm)="doReplaceFilm($event);"></app-film-tmdb-search>
    </div>
</div>