<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 offset-md-5">
            <h2>Modification d'un Film</h2>
            <div *ngIf="!film || loading">
                <div *ngIf="!filteredFilms">
                    <div class="col-lg-6">
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                        <div class="spinner-grow text-muted" *ngIf="loading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="film && !loading">
        <div class="row">
            <div class="col-sm-3">
                <img src="{{film.posterPath}}" alt="" />
            </div>
            <div class="col-sm-9">
                <div class="card ">
                    <span class="row"><span class="col">Titre : <b>{{film.titre | uppercase}}</b></span></span>

                    <span class="row"><span class="col">Titre Original :
                            <b>{{film.titreO | uppercase}}</b></span></span>

                    <span class="row"><span class="col">Date de sortie :
                            <b>{{film.dateSortie | date: 'dd/MM/yyyy'}}</b></span></span>

                    <span class="row"><span class="col">Réalisateur : <b>{{film.realisateurs | realisateurs}}
                                &nbsp;</b></span></span>
                    <span class="row"><span class="col">Genres : <b>{{film.genres | genres}} &nbsp;</b></span></span>
                    <span class="row"><span class="col">Durée : <b>{{film.runtime}} minutes</b></span></span>

                    <span class="row" *ngIf="film.origine=='EN_SALLE' || film.origine=='DVD'">
                        <div class="col-sm-2">Date de sortie en DVD : </div>
                        <div class="col-sm-1" *ngIf="film.dvd && film.dvd.dateSortie">
                            <b>{{film.dvd.dateSortie | date: 'dd/MM/yyyy'}}</b>
                        </div>
                        <div class="col-sm-2">
                            <form class="form-inline">
                                <div class="input-group">
                                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp"
                                        [(ngModel)]="dateSortie" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                            type="button"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </span>
                </div>

                <div class="card ">
                    <div class="card-header">Résumé </div>
                    <div class="card-body"><b>{{film.overview}}</b></div>
                </div>

                <div class="card ">
                    <div class="card-header">Acteurs </div>
                    <div class="card-body">
                        <div class="row">
                            <div *ngFor="let act of film.acteurs">
                                <div class="col">
                                    <div class="content">
                                        <img class="acteurs"
                                            *ngIf="act.profilePath && act.profilePath != 'http://image.tmdb.org/t/p/w500null'"
                                            src="{{act.profilePath}}" />
                                        <p><b>{{act.prenom | uppercase}} {{act.nom | uppercase}}</b></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card " *ngIf="film.homepage">
                    <div class="card-header">Home Page </div>
                    <div class="card-body"><a href="{{film.homepage}}">{{film.homepage}}</a></div>
                </div>
                <div class="card ">
                    <div class="card-header">TMDB </div>
                    <div class="card-body">ID : <b>{{film.tmdbId}}</b></div>
                </div>

                <div class="card ">
                    <div class="card-header">DVDTHEQUE </div>
                    <div class="card-body">
                        <div class="row" *ngIf="film.dvd">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label htmlFor="zone_dvd">Zone DVD</label>
                                    <select class="form-control" [(ngModel)]="film.dvd.zone">
                                        <option *ngFor="let zone of zonesList" [selected]="zone === film.dvd.zone"
                                            [ngValue]="zone">
                                            {{zone}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label htmlFor="annee">Format DVD</label>
                                    <select class="form-control" [(ngModel)]="film.dvd.format">
                                        <option *ngFor="let dvdFormat of dvdFormats"
                                            [selected]="dvdFormat === film.dvd.format" [ngValue]="dvdFormat">
                                            {{dvdFormat}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="film.dvd && film.dvd.dateRip && film.dvd.ripped">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label><input type="checkbox" [(checked)]="film.dvd.ripped"
                                            (change)="setRippedSelected($event.target,film)" /> Ripped</label>

                                </div>
                            </div>
                            <div class="col-sm-2" *ngIf="film.dvd.dateRip && film.dvd.ripped">
                                <div class="form-group">
                                    <label>Rippé le : </label>
                                    <b> {{film.dvd.dateRip | date: 'dd/MM/yyyy'}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label><input type="checkbox" [(checked)]="film.vu"
                                            (change)="setVuSelected($event.target,film)" /> Vu</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><label>Date d'ajout : </label></div>
                            <div class="col-sm-2">
                                <b>{{film.dateInsertion | date: 'dd/MM/yyyy'}}</b>
                            </div>
                            <div class="col-sm-5">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="dd-mm-yyyy" name="dp"
                                                [(ngModel)]="dateInsertion" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                    type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div *ngIf="updated" class="col-lg-12">
                            <p><b>Film modifié</b></p>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" (click)="updateFilm()">Sauver les
                                modifications</button>
                        </div>
                        <div class="col-sm-3" *ngIf="film.origine=='EN_SALLE'">
                            <button type="button" class="btn btn-primary"
                                (click)="transformFilmEnSalleIntoDvd()">Transformer en
                                DVD</button>
                        </div>
                        <div class="col-sm-3" *ngIf="film.origine=='EN_SALLE'">
                            <button type="button" class="btn btn-primary"
                                (click)="transformFilmEnSalleIntoGooglePlay()">Transformer en Google Play</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <span *ngIf="critiquesPresseExist">&nbsp;</span>
        <div class="container-fluid" *ngIf="critiquesPresseExist">
            <div class="row">
                <div class="col-lg-6 offset-lg-5">
                    <h2>Critiques Presse</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" *ngFor="let critiquePresse of film.critiquesPresse">
                <div class="col-sm-2"><b> {{critiquePresse.nomSource}} </b></div>
                <div class="col-sm-1"><label>Note : {{critiquePresse.note}}</label></div>
                <div class="col-sm-9">
                    {{critiquePresse.critique}}
                </div>
                <span>&nbsp;</span>
            </div>
        </div>
        <app-film-tmdb-search [film]="film" (replacedFilm)="doReplaceFilm($event);"></app-film-tmdb-search>
    </div>
</div>