<div class="container-fluid">
  <div class="row">
      <div class="col-lg-8 offset-lg-4">
          <button class="btn btn-primary" (click)="exportFilmList()" [disabled]="buttonDisabled">Exporter au format Excel</button>&nbsp;
          <button class="btn btn-primary" (click)="importFilmList()" [disabled]="buttonDisabled">Importer au format Csv</button>
      </div>
      
      <div class="col-lg-8 offset-lg-4">
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
          <div class="spinner-grow text-muted" *ngIf="loading"></div>
      </div>
  </div>
</div>